<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>COVID tracker</title>
</head>
<body class=" bg-gray-900">

    <!-- header -->

    <header>
        <h1 class="text-white  bg-red-500 bg-opacity-50 p-7 text-center text-3xl md:text-4xl lg:text-left lg:text-5xl font-light">COVID Tracker</h1>
    </header>

    
</body>
</html>