<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="shortcut icon" type="image/jpg" href="./../media/icon.svg"/>
    <title>COVID tracker</title>
    <style>
        /* #info {
            visibility: hidden;
        }
        #stat {
            visibility: hidden;
        }
        #foo {
            visibility: hidden;
        } */


        /* width */
        ::-webkit-scrollbar {
        width: 3px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: rgb(5, 13, 31);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #ffffff;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #eeee;
        }

        #bg {
        /* The image used */
        background-image: url("./../media/bg.jpg");

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }

        input[type="text"]
        {
            background: transparent;
            
        }
        
    </style>
</head>
<body class="h-screen" id="bg">
    <div class="bg-gray-900 bg-opacity-75 h-full w-full">

        {{>nav }}

        {{>search}}

        <div class="m-4 mt-7 justify-center text-center">
            <button class="text-white inline-block p-5">
                <i class="far fa-times-circle text-4xl sm:text-5xl text-red-500 lg:text-3xl md:text-4xl"></i>
            </button>
            <p class="text-white text-3xl lg:text-2xl md:text-3xl sm:text-4xl inline-block p-5"><span class="font-bold italic">{{found}}</span> {{text}}</p>
        </div>
    

    </div>

</body>
</html>